Repository AcademySoftwareFoundation/openvdb, changes with the owners that CODEOWNERS names for each.
All owners: @kmuseth, @pcucka, @jmlait, @idclip, @danrbailey

OVDB-44: Move documentation to a top-level doc/ directory.
  CHANGES
  CMakeLists.txt
  INSTALL
  doc/build.txt
  doc/changes.txt
  doc/codingstyle.txt
  doc/dependencies.txt
  doc/doc.txt
  doc/doxygen-config
  doc/doxygen-config-houdini
  doc/examplecode.txt
  doc/faq.txt
  doc/houdini.txt
  doc/img/multiparm.png
  doc/img/tabmenu.png
  doc/math.txt
  doc/points.txt
  doc/python.txt
  openvdb/Makefile
  openvdb/doc/api_0_98_0.txt
Owners: none

OVDB-44: Updated release notes.
  CHANGES
  doc/changes.txt
Owners: none

OVDB-44: Fix AppVeyor filename conflict.
  appveyor.yml
Owners: none

OVDB-44: Added Houdini version number macros to the Doxygen config.
  CMakeLists.txt
Owners: none

OVDB-44: Added Houdini version number macros to the Doxygen config.
  CMakeLists.txt
Owners: none

OVDB-44: Added fallback in case of missing Houdini version number.
  CMakeLists.txt
Owners: none

OVDB-44: Merged INSTALL file into build docs.
  INSTALL
  doc/build.txt
Owners: none

Fixed bug in PagedArray
  openvdb/CHANGES
  openvdb/doc/changes.txt
  openvdb/unittest/TestUtil.cc
  openvdb/util/PagedArray.h
Owners: @kmuseth, @pcucka

addressed review comments
  openvdb/CHANGES
  openvdb/doc/changes.txt
  openvdb/util/PagedArray.h
Owners: @kmuseth, @pcucka

OVDB-44: Moved documentation logic to doc/CMakeLists.txt.
  CMakeLists.txt
  doc/CMakeLists.txt
  doc/doc.txt
Owners: none

OVDB-44: Merged and updated release notes.
  CHANGES
  doc/changes.txt
Owners: none

Revert "Add X11 dependency for GLFW on Linux"
  openvdb/cmd/CMakeLists.txt
Owners: @kmuseth, @pcucka

Set INTERFACE_LINK_LIBRARIES for Unix with CMake GLFW 3.1
  cmake/OpenVDBGLFW3Setup.cmake
Owners: none

Add warning about hard-coding X11 dependency for GLFW
  cmake/OpenVDBGLFW3Setup.cmake
Owners: none

Drop CONFIG option when locating GLFW CMake find package
  cmake/OpenVDBGLFW3Setup.cmake
Owners: none

Add local registry lock when creating multiple attributes if not provided
  openvdb/points/AttributeSet.cc
Owners: @danrbailey, @idclip

Minor spacing edit
  openvdb/points/PointAttribute.h
Owners: @danrbailey, @idclip

Add hboost thread as dependency to resolve linking error
  cmake/OpenVDBHoudiniSetup.cmake
Owners: none

Include suggestions about hidden data clearing in non-sdf.
  tsc/process/security.md
Owners: none

Removed unused parameters.
  openvdb_houdini/SOP_NodeVDB.cc
Owners: @kmuseth, @pcucka

Fix merge (remove openvdb/INSTALL again)
  openvdb/INSTALL
Owners: none

Added multi-threading of tools::LevelSetSphere
  openvdb/tools/LevelSetSphere.h
Owners: @kmuseth, @pcucka

Optimization of LevelSetSphere
  openvdb/tools/LevelSetSphere.h
Owners: @kmuseth, @pcucka

fixed doxygen issue
  openvdb/tools/LevelSetSphere.h
Owners: @kmuseth, @pcucka

Fixed bug
  openvdb/tools/LevelSetSphere.h
Owners: @kmuseth, @pcucka

changes
  CHANGES
  doc/changes.txt
Owners: none

review comments
  openvdb/tools/LevelSetSphere.h
Owners: @kmuseth, @pcucka

typo
  openvdb/tools/LevelSetSphere.h
Owners: @kmuseth, @pcucka

fixed type conversion issue
  openvdb/tools/LevelSetSphere.h
Owners: @kmuseth, @pcucka

removed dead code
  openvdb/tools/LevelSetSphere.h
Owners: @kmuseth, @pcucka

Add notes
  tsc/meetings/2019-06-27.md
Owners: none

Use private key for Houdini password
  .circleci/config.yml
  ci/download_houdini.py
  ci/install_houdini.sh
Owners: none

Re-introduce OPHIDE_POLICY as compiler flag and environment variables
  openvdb_houdini/CMakeLists.txt
  openvdb_houdini/ParmFactory.cc
  openvdb_houdini/ParmFactory.h
  openvdb_houdini/SOP_NodeVDB.cc
  openvdb_houdini/SOP_NodeVDB.h
Owners: @kmuseth, @pcucka

Delete the old CMake hiding option
  openvdb_houdini/CMakeLists.txt
Owners: @kmuseth, @pcucka

Add option to use colored output through CMake
  CHANGES
  CMakeLists.txt
  doc/changes.txt
Owners: none

Add OPENVDB_LOG_ERROR or OPENVDB_LOG_INFO statements to empty catch clauses
  openvdb/Exceptions.h
  openvdb/Metadata.cc
  openvdb/io/Queue.cc
  openvdb/math/Maps.cc
Owners: @kmuseth, @pcucka

CMake Code Coverage
  CMakeLists.txt
Owners: none

Update changes
  CHANGES
  doc/changes.txt
Owners: none

Update permissions and installation for CI
  ci/build.sh
  ci/build_houdini.sh
  ci/install_houdini.sh
Owners: none

Add SonarCloud build and test scripts
  ci/build_sonar.sh
  ci/test_sonar.sh
Owners: none

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Admin
/openvdb/tsc/charter.md                             @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/tsc/process/                               @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/CODEOWNERS                                 @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/CONTRIBUTING.md                            @kmuseth @pcucka @jmlait @idclip @danrbailey

# Core OpenVDB Library
/openvdb/cmd/                                       @kmuseth @pcucka
/openvdb/io/                                        @kmuseth @pcucka
/openvdb/math/                                      @kmuseth @pcucka
/openvdb/points/                                    @danrbailey @idclip
/openvdb/python/                                    @kmuseth @pcucka
/openvdb/tools/                                     @kmuseth @pcucka
/openvdb/tree/                                      @kmuseth @pcucka
/openvdb/util/                                      @kmuseth @pcucka
/openvdb/*.cc                                       @kmuseth @pcucka
/openvdb/*.h                                        @kmuseth @pcucka

# OpenVDB Houdini - Default
/openvdb_houdini/**                                 @kmuseth @pcucka

# OpenVDB Houdini - VDB Primitive and SideFX Utils
/openvdb_houdini/GEO_PrimVDB.*                      @jmlait
/openvdb_houdini/GU_PrimVDB.*                       @jmlait
/openvdb_houdini/GEO_VDBTranslator.*                @jmlait
/openvdb_houdini/GT_GEOPrimCollectVDB.*             @jmlait
/openvdb_houdini/SOP_VDBVerbUtils.*                 @jmlait
/openvdb_houdini/UT_VDBUtils.*                      @jmlait

# OpenVDB Houdini - VDB Points
/openvdb_houdini/PointUtils.*                       @danrbailey @idclip
/openvdb_houdini/*_OpenVDB_Points_*                 @danrbailey @idclip
/openvdb_houdini/GR_PrimVDBPoints.*                 @danrbailey @idclip
