Repository AcademySoftwareFoundation/openvdb, changes with the owners that CODEOWNERS names for each.
All owners: @kmuseth, @apradhana, @jmlait, @idclip, @danrbailey, @richhones, @NVIDIA-Omniverse/fvdb-dev

Generalize MGPU grid construction to any power-of-two number of GPUs
  nanovdb/nanovdb/tools/cuda/DistributedPointsToGrid.cuh
Owners: @kmuseth

Fix race condition across different merge levels (and memory leak in corresponding tests)
  nanovdb/nanovdb/tools/cuda/DistributedPointsToGrid.cuh
  nanovdb/nanovdb/unittest/TestNanoVDB.cu
Owners: @kmuseth

Feature/fix get set methods
  nanovdb/nanovdb/NanoVDB.h
  nanovdb/nanovdb/unittest/TestNanoVDB.cc
  nanovdb/nanovdb/unittest/TestNanoVDB.cu
Owners: @kmuseth

Add optimizations to MGPU PointsToGrid
  nanovdb/nanovdb/tools/cuda/DistributedPointsToGrid.cuh
  nanovdb/nanovdb/tools/cuda/PointsToGrid.cuh
Owners: @kmuseth

Improve points to grid
  nanovdb/nanovdb/tools/cuda/PointsToGrid.cuh
  nanovdb/nanovdb/util/Util.h
Owners: @kmuseth

Fix Windows warnings
  nanovdb/nanovdb/tools/cuda/DistributedPointsToGrid.cuh
  nanovdb/nanovdb/tools/cuda/IndexToGrid.cuh
Owners: @kmuseth

Force set _WIN32 flag
  .github/workflows/nanovdb.yml
Owners: @kmuseth, @apradhana, @jmlait, @idclip, @danrbailey, @richhones

Move away from deprecated 20.04 runners
  .github/workflows/ax.yml
  .github/workflows/build.yml
  .github/workflows/houdini.yml
  .github/workflows/nanovdb.yml
  .github/workflows/weekly.yml
Owners: @kmuseth, @apradhana, @jmlait, @idclip, @danrbailey, @richhones

Fix calling host function from hostdev function warning (#351)
  fvdb/src/detail/ops/jagged/JaggedReduce.cu
Owners: @NVIDIA-Omniverse/fvdb-dev

Added WSL2/Ubuntu docker troubleshooting to the README (#355)
  fvdb/README.md
Owners: @NVIDIA-Omniverse/fvdb-dev

Use object libraries to reduce recompilation of bindings and tests. (#349)
  fvdb/src/tests/CMakeLists.txt
Owners: @NVIDIA-Omniverse/fvdb-dev

Moved docker troubleshooting into a separate markdown file (#360)
  fvdb/README.md
  fvdb/docs/markdown/docker_readme.md
Owners: @NVIDIA-Omniverse/fvdb-dev

3dgs projection tests (#356)
  fvdb/src/cmake/get_test_data.cmake
  fvdb/src/detail/ops/Ops.h
  fvdb/src/detail/ops/gsplat/GaussianProjectionBackward.cu
  fvdb/src/tests/CMakeLists.txt
  fvdb/src/tests/GaussianProjectionBackwardTest.cpp
  fvdb/src/tests/GaussianProjectionForwardTest.cpp
Owners: @NVIDIA-Omniverse/fvdb-dev

Refactor projection forward pass (#334)
  fvdb/src/detail/ops/Ops.h
  fvdb/src/detail/ops/gsplat/GaussianCameraProjections.cuh
  fvdb/src/detail/ops/gsplat/GaussianProjectionForward.cu
  fvdb/src/detail/ops/gsplat/GaussianProjectionJaggedForward.cu
Owners: @NVIDIA-Omniverse/fvdb-dev

Add a CMakeLists for standalone caching of fvdb_test_data (#362)
  .github/workflows/fvdb.yml
  fvdb/build.sh
  fvdb/src/cmake/download_test_data/CMakeLists.txt
Owners: @kmuseth, @apradhana, @jmlait, @idclip, @danrbailey, @richhones, @NVIDIA-Omniverse/fvdb-dev

Move away from deprecated 20.04 runners (#2032)
  .github/workflows/ax.yml
  .github/workflows/build.yml
  .github/workflows/houdini.yml
  .github/workflows/nanovdb.yml
  .github/workflows/weekly.yml
Owners: @kmuseth, @apradhana, @jmlait, @idclip, @danrbailey, @richhones

Squashed commit of the following:
  .github/workflows/nanovdb.yml
  nanovdb/nanovdb/tools/cuda/DistributedPointsToGrid.cuh
  nanovdb/nanovdb/tools/cuda/IndexToGrid.cuh
  pendingchanges/vdb_tool.txt
Owners: @kmuseth, @apradhana, @jmlait, @idclip, @danrbailey, @richhones

Refactor GaussianRasterizeForward (#308)
  fvdb/src/detail/ops/Ops.h
  fvdb/src/detail/ops/gsplat/Gaussian2D.cuh
  fvdb/src/detail/ops/gsplat/GaussianRasterizeBackward.cu
  fvdb/src/detail/ops/gsplat/GaussianRasterizeForward.cu
Owners: @NVIDIA-Omniverse/fvdb-dev

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Admin/General
/.github/                                                   @kmuseth @apradhana @jmlait @idclip @danrbailey @richhones
/ci/                                                        @kmuseth @apradhana @jmlait @idclip @danrbailey @richhones
/cmake/                                                     @kmuseth @apradhana @jmlait @idclip @danrbailey @richhones
/doc/                                                       @kmuseth @apradhana @jmlait @idclip @danrbailey @richhones
/pendingchanges/                                            @kmuseth @apradhana @jmlait @idclip @danrbailey @richhones
/tsc/                                                       @kmuseth @apradhana @jmlait @idclip @danrbailey @richhones
CODEOWNERS                                                  @kmuseth @apradhana @jmlait @idclip @danrbailey @richhones
LICENSE                                                     @kmuseth @apradhana @jmlait @idclip @danrbailey @richhones
CHANGES                                                     @kmuseth @apradhana @jmlait @idclip @danrbailey @richhones
*.md                                                        @kmuseth @apradhana @jmlait @idclip @danrbailey @richhones

# Core OpenVDB Library
/openvdb/                                                   @kmuseth
/openvdb/openvdb/points/                                    @danrbailey @idclip

# OpenVDB AX
/openvdb_ax/                                                @idclip @richhones

# NanoVDB
/nanovdb/                                                   @kmuseth

# OpenVDB Houdini - Default
/openvdb_houdini/                                           @kmuseth

# OpenVDB Houdini - VDB Primitive and SideFX Utils
/openvdb_houdini/openvdb_houdini/GEO_PrimVDB.*              @jmlait
/openvdb_houdini/openvdb_houdini/GU_PrimVDB.*               @jmlait
/openvdb_houdini/openvdb_houdini/GEO_VDBTranslator.*        @jmlait
/openvdb_houdini/openvdb_houdini/GT_GEOPrimCollectVDB.*     @jmlait
/openvdb_houdini/openvdb_houdini/SOP_VDBVerbUtils.*         @jmlait
/openvdb_houdini/openvdb_houdini/UT_VDBUtils.*              @jmlait

# OpenVDB Houdini - VDB Points
/openvdb_houdini/openvdb_houdini/PointUtils.*               @danrbailey @idclip
/openvdb_houdini/openvdb_houdini/*_OpenVDB_Points_*         @danrbailey @idclip
/openvdb_houdini/openvdb_houdini/GR_PrimVDBPoints.*         @danrbailey @idclip

# fVDB
/fvdb/                                                      @NVIDIA-Omniverse/fvdb-dev
