Repository AcademySoftwareFoundation/openvdb, changes with the owners that CODEOWNERS names for each.
All owners: @kmuseth, @pcucka, @jmlait, @idclip, @danrbailey

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Admin/General
/.github/                                                           @kmuseth @pcucka @jmlait @idclip @danrbailey
/ci/                                                                @kmuseth @pcucka @jmlait @idclip @danrbailey
/cmake/                                                             @kmuseth @pcucka @jmlait @idclip @danrbailey
/doc/                                                               @kmuseth @pcucka @jmlait @idclip @danrbailey
/tsc/                                                               @kmuseth @pcucka @jmlait @idclip @danrbailey
CODEOWNERS                                                          @kmuseth @pcucka @jmlait @idclip @danrbailey
LICENSE                                                             @kmuseth @pcucka @jmlait @idclip @danrbailey
CHANGES                                                             @kmuseth @pcucka @jmlait @idclip @danrbailey
*.md                                                                @kmuseth @pcucka @jmlait @idclip @danrbailey

# Core OpenVDB Library
/openvdb/openvdb/cmd/                                               @kmuseth @pcucka
/openvdb/openvdb/io/                                                @kmuseth @pcucka
/openvdb/openvdb/math/                                              @kmuseth @pcucka
/openvdb/openvdb/points/                                            @danrbailey @idclip
/openvdb/openvdb/python/                                            @kmuseth @pcucka
/openvdb/openvdb/tools/                                             @kmuseth @pcucka
/openvdb/openvdb/tree/                                              @kmuseth @pcucka
/openvdb/openvdb/util/                                              @kmuseth @pcucka
/openvdb/openvdb/viewer/                                            @kmuseth @pcucka
/openvdb/openvdb/*.cc                                               @kmuseth @pcucka
/openvdb/openvdb/*.h                                                @kmuseth @pcucka

# OpenVDB AX
/openvdb_ax/                                                        @idclip

# OpenVDB Houdini - Default
/openvdb_houdini/                                                   @kmuseth @pcucka

# OpenVDB Houdini - VDB Primitive and SideFX Utils
/openvdb_houdini/openvdb_houdini/GEO_PrimVDB.*                      @jmlait
/openvdb_houdini/openvdb_houdini/GU_PrimVDB.*                       @jmlait
/openvdb_houdini/openvdb_houdini/GEO_VDBTranslator.*                @jmlait
/openvdb_houdini/openvdb_houdini/GT_GEOPrimCollectVDB.*             @jmlait
/openvdb_houdini/openvdb_houdini/SOP_VDBVerbUtils.*                 @jmlait
/openvdb_houdini/openvdb_houdini/UT_VDBUtils.*                      @jmlait

# OpenVDB Houdini - VDB Points
/openvdb_houdini/openvdb_houdini/PointUtils.*                       @danrbailey @idclip
/openvdb_houdini/openvdb_houdini/*_OpenVDB_Points_*                 @danrbailey @idclip
/openvdb_houdini/openvdb_houdini/GR_PrimVDBPoints.*                 @danrbailey @idclip

Updated changelogs
  CHANGES
  doc/changes.txt
Owners: @kmuseth, @pcucka, @jmlait, @idclip, @danrbailey

Add a CI build with USE_IMATH_HALF enabled
  .github/workflows/build.yml
Owners: @kmuseth, @pcucka, @jmlait, @idclip, @danrbailey

Added TSC notes
  tsc/meetings/2021-02-09.md
Owners: @kmuseth, @pcucka, @jmlait, @idclip, @danrbailey

Fixed typos
  openvdb/openvdb/tools/Morphology.h
Owners: @kmuseth, @pcucka

Renamed tools/Activation to tools/Activate
  CHANGES
  doc/changes.txt
  openvdb/openvdb/CMakeLists.txt
  openvdb/openvdb/tools/Activate.h
  openvdb/openvdb/tools/Morphology.h
Owners: @kmuseth, @pcucka, @jmlait, @idclip, @danrbailey

Minor improvements to openvdb/tools/Morphology.h
  openvdb/openvdb/tools/Morphology.h
Owners: @kmuseth, @pcucka

Added different code paths for mt vs st options
  openvdb/openvdb/tools/Morphology.h
Owners: @kmuseth, @pcucka

Make sIsInitialized (used by openvdb::initialize() and openvdb::uninitialize()) use double-checked locking so the hot path is just one atomic load
  openvdb/openvdb/openvdb.cc
Owners: @kmuseth, @pcucka

Meeting notes 16th Feb
  tsc/meetings/2021-02-16.md
Owners: @kmuseth, @pcucka, @jmlait, @idclip, @danrbailey

Removed erodeActiveLeafValues and dilateActiveLeafValues
  CHANGES
  doc/changes.txt
  openvdb/openvdb/tools/LevelSetTracker.h
  openvdb/openvdb/tools/Morphology.h
  openvdb/openvdb/tools/MultiResGrid.h
  openvdb/openvdb/tools/PoissonSolver.h
  openvdb/openvdb/tools/PotentialFlow.h
  openvdb/openvdb/tools/RayIntersector.h
  openvdb/openvdb/tools/TopologyToLevelSet.h
  openvdb/openvdb/tools/VolumeToSpheres.h
  openvdb/openvdb/unittest/TestMorphology.cc
  openvdb/openvdb/unittest/TestPotentialFlow.cc
  openvdb/openvdb/unittest/TestVolumeRayIntersector.cc
  openvdb/openvdb/viewer/RenderModules.cc
  openvdb_houdini/openvdb_houdini/SOP_OpenVDB_Activate.cc
  openvdb_houdini/openvdb_houdini/SOP_OpenVDB_Convert.cc
  openvdb_houdini/openvdb_houdini/SOP_OpenVDB_Occlusion_Mask.cc
  openvdb_houdini/openvdb_houdini/SOP_OpenVDB_Remove_Divergence.cc
  openvdb_houdini/openvdb_houdini/SOP_OpenVDB_Scatter.cc
  openvdb_houdini/openvdb_houdini/SOP_OpenVDB_To_Polygons.cc
Owners: @kmuseth, @pcucka, @jmlait, @idclip, @danrbailey

Added a test for preserving mask leaf nodes
  openvdb/openvdb/unittest/TestMorphology.cc
Owners: none

updated changelogs
  CHANGES
  doc/changes.txt
Owners: @kmuseth, @pcucka, @jmlait, @idclip, @danrbailey

Removed **.txt build rules
  .github/workflows/ax.yml
  .github/workflows/build.yml
  .github/workflows/houdini.yml
Owners: @kmuseth, @pcucka, @jmlait, @idclip, @danrbailey

Renamed the houdini cache acton workflow
  .github/workflows/houdini_cache_update.yml
Owners: @kmuseth, @pcucka, @jmlait, @idclip, @danrbailey
