Repository AcademySoftwareFoundation/openvdb, changes with the owners that CODEOWNERS names for each.
All owners: @kmuseth, @pcucka, @jmlait, @idclip, @danrbailey

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Admin
/openvdb/tsc/charter.md                             @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/tsc/process/                               @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/CODEOWNERS                                 @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/CONTRIBUTING.md                            @kmuseth @pcucka @jmlait @idclip @danrbailey

# Core OpenVDB Library
/openvdb/cmd/                                       @kmuseth @pcucka
/openvdb/io/                                        @kmuseth @pcucka
/openvdb/math/                                      @kmuseth @pcucka
/openvdb/points/                                    @danrbailey @idclip
/openvdb/python/                                    @kmuseth @pcucka
/openvdb/tools/                                     @kmuseth @pcucka
/openvdb/tree/                                      @kmuseth @pcucka
/openvdb/util/                                      @kmuseth @pcucka
/openvdb/*.cc                                       @kmuseth @pcucka
/openvdb/*.h                                        @kmuseth @pcucka

# OpenVDB Houdini - Default
/openvdb_houdini/houdini/**                         @kmuseth @pcucka

# OpenVDB Houdini - VDB Primitive and SideFX Utils
/openvdb_houdini/houdini/GEO_PrimVDB.*              @jmlait
/openvdb_houdini/houdini/GU_PrimVDB.*               @jmlait
/openvdb_houdini/houdini/GEO_VDBTranslator.*        @jmlait
/openvdb_houdini/houdini/GT_GEOPrimCollectVDB.*     @jmlait
/openvdb_houdini/houdini/SOP_VDBVerbUtils.*         @jmlait
/openvdb_houdini/houdini/UT_VDBUtils.*              @jmlait

# OpenVDB Houdini - VDB Points
/openvdb_houdini/houdini/PointUtils.*               @danrbailey @idclip
/openvdb_houdini/houdini/*_OpenVDB_Points_*         @danrbailey @idclip
/openvdb_houdini/houdini/GR_PrimVDBPoints.*         @danrbailey @idclip

Only install VRAY plugin once and make Blosc var contingent on OpenVDB Write DSO existing
  openvdb_houdini/CMakeLists.txt
Owners: none

Correctly handle IlmBase/OpenEXR namespace suffixing on Mac (-2_3.dylib)
  cmake/FindIlmBase.cmake
  cmake/FindOpenEXR.cmake
Owners: none

Delete outdated CMake build instructions
  BuildingWithCMake.md
Owners: none

Add Quick Start Guide to Readme
  README.md
Owners: none

Add a custom uninstall target
  CMakeLists.txt
  cmake/Uninstall.cmake
Owners: none

Add a simple assertion to verify the overall offset
  openvdb/unittest/TestPointMove.cc
Owners: none

Address feedback
  openvdb/Grid.h
  openvdb/Platform.h
  openvdb/math/Operators.h
  openvdb/math/Stencils.h
  openvdb/math/Vec3.h
  openvdb/tools/Filter.h
  openvdb/tools/GridTransformer.h
  openvdb/tools/Interpolation.h
  openvdb/tools/MultiResGrid.h
  openvdb/unittest/util.h
  openvdb_houdini/houdini/SOP_OpenVDB_Combine.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Prune.cc
Owners: @kmuseth, @pcucka

Consolidated version parsing of openvdb version.h in CMake so that find_openvdb() is not called if OPENVDB_BUILD_CORE=ON
  CMakeLists.txt
  cmake/FindOpenVDB.cmake
  cmake/OpenVDBUtils.cmake
Owners: none

Improve logic for handling the SOP_OpenVDB_Write target
  openvdb_houdini/CMakeLists.txt
Owners: none

Set Blosc to ON be default in the root CMakeLists. Improved blosc and minimum version documentation
  CMakeLists.txt
  openvdb/CMakeLists.txt
  openvdb/doc/build.txt
Owners: none

Added header to cmake/Uninstall.cmake
  cmake/Uninstall.cmake
Owners: none

TSC Meeting Notes for April 25th, 2019.
  tsc/meetings/2019-04-25.md
Owners: none

Adding default .gitignore
  .gitignore
Owners: none

Modifyin CMakeLists files for building correctly on windows
  CMakeLists.txt
  cmake/FindBlosc.cmake
  cmake/FindILMBase.cmake
  cmake/FindOpenEXR.cmake
  cmake/FindTBB.cmake
  openvdb/CMakeLists.txt
Owners: none

Fix bug where stride was being ignored when copy constructing AttributeSets
  openvdb/points/AttributeSet.cc
  openvdb/unittest/TestAttributeSet.cc
Owners: @danrbailey, @idclip

Update change notes
  openvdb/CHANGES
  openvdb/doc/changes.txt
Owners: none

Updated changelog
  openvdb/CHANGES
  openvdb/doc/changes.txt
Owners: none

Updated changelog
  openvdb/CHANGES
  openvdb/doc/changes.txt
Owners: none

Fix trailing spaces
  openvdb/CHANGES
Owners: none

Update change notes
  openvdb/CHANGES
  openvdb/doc/changes.txt
Owners: none

Add first name policy to SOPs
  openvdb_houdini/houdini/ParmFactory.cc
  openvdb_houdini/houdini/ParmFactory.h
  openvdb_houdini/houdini/SOP_NodeVDB.cc
Owners: @kmuseth, @pcucka

Update change notes
  openvdb/CHANGES
  openvdb/doc/changes.txt
Owners: none

Convert some non-verbified SOPs to use OP_AutoLockInputs directly instead of ScopedInputLock
  openvdb_houdini/houdini/SOP_OpenVDB_Create.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Platonic.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Rasterize_Points.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Read.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Write.cc
Owners: @kmuseth, @pcucka

Implement some deprecations in the Houdini library, mostly related to verbification
  openvdb_houdini/houdini/OP_NodeChain.h
  openvdb_houdini/houdini/ParmFactory.h
  openvdb_houdini/houdini/SOP_NodeVDB.cc
  openvdb_houdini/houdini/SOP_NodeVDB.h
  openvdb_houdini/houdini/SOP_OpenVDB_Filter.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Filter_Level_Set.cc
Owners: @kmuseth, @pcucka

Update changes
  openvdb/CHANGES
  openvdb/doc/changes.txt
Owners: none

Make sure Houdini library is always using hboost not boost
  openvdb_houdini/houdini/SOP_OpenVDB_Advect.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Scatter.cc
Owners: @kmuseth, @pcucka

Unify VDB and OpenVDB SOPs through an OpHide Policy
  openvdb_houdini/houdini/ParmFactory.cc
  openvdb_houdini/houdini/ParmFactory.h
  openvdb_houdini/houdini/SOP_NodeVDB.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Advect.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Advect_Points.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Analysis.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Clip.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Combine.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Convert.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Diagnostics.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Filter.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Filter_Level_Set.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Fracture.cc
  openvdb_houdini/houdini/SOP_OpenVDB_From_Particles.cc
  openvdb_houdini/houdini/SOP_OpenVDB_From_Polygons.cc
  openvdb_houdini/houdini/SOP_OpenVDB_LOD.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Morph_Level_Set.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Occlusion_Mask.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Points_Convert.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Points_Delete.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Points_Group.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Potential_Flow.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Remove_Divergence.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Resample.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Segment.cc
  openvdb_houdini/houdini/SOP_OpenVDB_To_Spheres.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Topology_To_Level_Set.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Vector_Merge.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Vector_Split.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Visualize.cc
Owners: @kmuseth, @pcucka, @danrbailey, @idclip

Update CMakeLists.txt to add back in warnings as errors
  CMakeLists.txt
Owners: none

Add warnings as errors back into CI
  ci/build.sh
  ci/build_houdini.sh
Owners: none

Add some missing unit tests to CMake and alphabeticalize some CMake lists
  openvdb/CMakeLists.txt
  openvdb/unittest/CMakeLists.txt
Owners: none

Fix a couple of warnings in the missing unit tests
  openvdb/tools/Interpolation.h
  openvdb/unittest/TestPointMove.cc
Owners: @kmuseth, @pcucka

Address feedback
  openvdb_houdini/houdini/SOP_NodeVDB.cc
Owners: @kmuseth, @pcucka

CMake Style improvements:
  CMakeLists.txt
  openvdb/CMakeLists.txt
  openvdb/cmd/CMakeLists.txt
  openvdb/python/CMakeLists.txt
  openvdb/unittest/CMakeLists.txt
  openvdb_houdini/CMakeLists.txt
  openvdb_maya/CMakeLists.txt
Owners: @kmuseth, @pcucka

Include CMake files in trailing space checking
  .cirrus.yml
Owners: none

Futher attribute set copy constructor fixes for non constant strides
  openvdb/points/AttributeSet.cc
  openvdb/unittest/TestAttributeSet.cc
Owners: @danrbailey, @idclip

Removed -Wfloat-conversion from the conversion warnings as it's implied by -Wconversion
  openvdb/Platform.h
Owners: @kmuseth, @pcucka

Added a branch for ICC for conversion pragmas
  openvdb/Platform.h
Owners: @kmuseth, @pcucka

Reverted -Wfloat-conversion change and instead gated by GCC version
  openvdb/Platform.h
Owners: @kmuseth, @pcucka

Apply style changes to cmake modules and delete FindGLEW for now
  cmake/FindBlosc.cmake
  cmake/FindCppUnit.cmake
  cmake/FindGLEW.cmake
  cmake/FindIlmBase.cmake
  cmake/FindLog4cplus.cmake
  cmake/FindOpenEXR.cmake
  cmake/FindOpenVDB.cmake
  cmake/FindTBB.cmake
  cmake/OpenVDBGLFW3Setup.cmake
  cmake/OpenVDBHoudiniSetup.cmake
  cmake/OpenVDBMayaSetup.cmake
  cmake/OpenVDBUtils.cmake
  cmake/Uninstall.cmake
Owners: none

Delete Travis from repo
  .travis.yml
  travis/travis.py
  travis/travis.run
Owners: none
