Repository AcademySoftwareFoundation/openvdb, changes with the owners that CODEOWNERS names for each.
All owners: @kmuseth, @pcucka, @jmlait, @idclip, @danrbailey

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Admin
/openvdb/tsc/charter.md                             @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/tsc/process/                               @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/CODEOWNERS                                 @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/CONTRIBUTING.md                            @kmuseth @pcucka @jmlait @idclip @danrbailey

# Core OpenVDB Library
/openvdb/cmd/                                       @kmuseth @pcucka
/openvdb/io/                                        @kmuseth @pcucka
/openvdb/math/                                      @kmuseth @pcucka
/openvdb/points/                                    @danrbailey @idclip
/openvdb/python/                                    @kmuseth @pcucka
/openvdb/tools/                                     @kmuseth @pcucka
/openvdb/tree/                                      @kmuseth @pcucka
/openvdb/util/                                      @kmuseth @pcucka
/openvdb/*.cc                                       @kmuseth @pcucka
/openvdb/*.h                                        @kmuseth @pcucka

# OpenVDB Houdini - Default
/openvdb_houdini/**                                 @kmuseth @pcucka

# OpenVDB Houdini - VDB Primitive and SideFX Utils
/openvdb_houdini/GEO_PrimVDB.*                      @jmlait
/openvdb_houdini/GU_PrimVDB.*                       @jmlait
/openvdb_houdini/GEO_VDBTranslator.*                @jmlait
/openvdb_houdini/GT_GEOPrimCollectVDB.*             @jmlait
/openvdb_houdini/SOP_VDBVerbUtils.*                 @jmlait
/openvdb_houdini/UT_VDBUtils.*                      @jmlait

# OpenVDB Houdini - VDB Points
/openvdb_houdini/PointUtils.*                       @danrbailey @idclip
/openvdb_houdini/*_OpenVDB_Points_*                 @danrbailey @idclip
/openvdb_houdini/GR_PrimVDBPoints.*                 @danrbailey @idclip

Misc. minor documentation tweaks
  CHANGES
  doc/changes.txt
  doc/examplecode.txt
  doc/faq.txt
Owners: none

Fix StreamMetadata segfault by reordering data members
  openvdb/io/Archive.cc
Owners: @kmuseth, @pcucka

Add warning comments to StreamState and StreamMetadata::Impl to ensure non-ABI changes
  openvdb/io/Archive.cc
Owners: @kmuseth, @pcucka

Migrate from aswftesting -> aswf docker containers, use vfx2020 as the base image and drop H16.5 build
  azure-pipelines.yml
Owners: none

Note updates from PR feedback
  tsc/meetings/2019-09-26.md
Owners: none

Run verbose tests and use ctest in CI
  azure-pipelines.yml
  openvdb/python/CMakeLists.txt
  openvdb/unittest/CMakeLists.txt
Owners: @kmuseth, @pcucka

Add a new GitHub Actions build workflow
  .github/workflows/build.yml
Owners: none

Make OpFactory deconstructor virtual for ABI=7
  openvdb_houdini/ParmFactory.h
Owners: @kmuseth, @pcucka

Require a C++14 compiler
  CHANGES
  CMakeLists.txt
  doc/changes.txt
Owners: none

Remove Houdini conditional guards for supporting versions earlier than 17.0
  openvdb_houdini/GT_GEOPrimCollectVDB.cc
  openvdb_houdini/SOP_OpenVDB_Rasterize_Points.cc
Owners: @jmlait, @kmuseth, @pcucka

Update all other build dependency versions to VFX2018 except ABI
  CMakeLists.txt
  doc/dependencies.txt
Owners: none

Update minimum Houdini version to 17.0
  CHANGES
  CMakeLists.txt
  cmake/OpenVDBHoudiniSetup.cmake
  doc/build.txt
  doc/changes.txt
  openvdb/Makefile
  openvdb_houdini/Makefile
Owners: @kmuseth, @pcucka

Drop support for ABI=2 and ABI=3
  openvdb/Grid.cc
  openvdb/Grid.h
  openvdb/Types.h
  openvdb/io/Archive.cc
  openvdb/io/Archive.h
  openvdb/io/File.cc
  openvdb/io/File.h
  openvdb/openvdb.cc
  openvdb/points/PointDataGrid.h
  openvdb/tools/Clip.h
  openvdb/tools/PointIndexGrid.h
  openvdb/tools/PointsToMask.h
  openvdb/tools/SignedFloodFill.h
  openvdb/tree/InternalNode.h
  openvdb/tree/LeafBuffer.h
  openvdb/tree/LeafNode.h
  openvdb/tree/LeafNodeBool.h
  openvdb/tree/LeafNodeMask.h
  openvdb/tree/RootNode.h
  openvdb/tree/Tree.h
  openvdb/unittest/TestFile.cc
  openvdb/unittest/TestGrid.cc
  openvdb/unittest/TestPointCount.cc
  openvdb/unittest/TestPointDataLeaf.cc
  openvdb/version.h
  openvdb_houdini/SOP_OpenVDB_Combine.cc
  openvdb_houdini/SOP_OpenVDB_Read.cc
  openvdb_houdini/SOP_OpenVDB_Resample.cc
Owners: @kmuseth, @pcucka, @danrbailey, @idclip

Introduce new GridBase::copyGrid() methods that allow modifying transform and/or metadata when shallow-copying a const grid
  openvdb/Grid.h
  openvdb/unittest/TestGrid.cc
Owners: @kmuseth, @pcucka

Allow use of a deprecated ABI when testing through CI
  ci/build.sh
Owners: none

Modify OpenVDB CMake module to require a C++14 compiler
  cmake/FindOpenVDB.cmake
Owners: none

Add OPENVDB_FUTURE_DEPRECATION which currently defaults to OFF but can be globally enabled to output planned deprecation messages
  CMakeLists.txt
  cmake/OpenVDBHoudiniSetup.cmake
  openvdb/CMakeLists.txt
  openvdb/python/CMakeLists.txt
Owners: @kmuseth, @pcucka

Add FUTURE_MINIMUM_OPENVDB_ABI_VERSION. A fatal error is always generated when attempting to use ABI<=3, a warning is always generated when attempting to use ABI=4 (when deprecation flag enabled)
  CMakeLists.txt
Owners: none

TSC Notes for October 10th
  tsc/meetings/2019-10-10.md
Owners: none

A quick touch of the file to re-trigger CLA?
  tsc/meetings/2019-10-10.md
Owners: none

Mark future deprecations CMake option as advanced
  CMakeLists.txt
Owners: none

Added Tree::nodeCount
  CHANGES
  doc/changes.txt
  openvdb/tree/InternalNode.h
  openvdb/tree/LeafNode.h
  openvdb/tree/LeafNodeBool.h
  openvdb/tree/LeafNodeMask.h
  openvdb/tree/RootNode.h
  openvdb/tree/Tree.h
  openvdb/unittest/TestGrid.cc
  openvdb/unittest/TestTree.cc
Owners: @kmuseth, @pcucka

fixed a warning
  openvdb/tree/Tree.h
Owners: @kmuseth, @pcucka

Another touch to try and push through a CLA check?
  tsc/meetings/2019-10-10.md
Owners: none

Update version and doxygen config
  doc/doxygen-config
  openvdb/version.h
Owners: @kmuseth, @pcucka

Add the correct pragmas to disable deprecation warnings on MSVC.
  openvdb/Platform.h
Owners: @kmuseth, @pcucka

Expand GitHub Actions triggers to include pull request and nightly cron
  .github/workflows/build.yml
Owners: none

Include just PR and push triggers for now
  .github/workflows/build.yml
Owners: none

Added Tree::nodeCount
  CHANGES
  doc/changes.txt
  openvdb/tree/InternalNode.h
  openvdb/tree/LeafNode.h
  openvdb/tree/LeafNodeBool.h
  openvdb/tree/LeafNodeMask.h
  openvdb/tree/RootNode.h
  openvdb/tree/Tree.h
  openvdb/unittest/TestGrid.cc
  openvdb/unittest/TestTree.cc
Owners: @kmuseth, @pcucka

fixed a warning
  openvdb/tree/Tree.h
Owners: @kmuseth, @pcucka

minor changes now that C++14 is supported
  openvdb/unittest/TestGrid.cc
  openvdb/unittest/TestTree.cc
Owners: none

minor typo
  openvdb/tree/Tree.h
Owners: @kmuseth, @pcucka

simplified API
  openvdb/tree/Tree.h
  openvdb/unittest/TestGrid.cc
  openvdb/unittest/TestTree.cc
Owners: @kmuseth, @pcucka

fixed trailing_spaces
  openvdb/tree/Tree.h
Owners: @kmuseth, @pcucka

New counting tools - tools::nodeCount() and tools::activeVoxelCount()
  openvdb/CMakeLists.txt
  openvdb/tools/Count.h
  openvdb/unittest/TestTree.cc
Owners: @kmuseth, @pcucka

Changes to TestTree unit test
  openvdb/unittest/TestTree.cc
Owners: none

added new methods to Stencil classes
  openvdb/math/Stencils.h
  openvdb/unittest/TestMeanCurvature.cc
Owners: @kmuseth, @pcucka

Modify CMake to treat AppleClang like Clang
  CMakeLists.txt
Owners: none

meeting notes
  tsc/meetings/2019-10-24.md
Owners: none

Add a message to our ignored deprecation warning.
  openvdb/Platform.h
Owners: @kmuseth, @pcucka
