Repository AcademySoftwareFoundation/openvdb, changes with the owners that CODEOWNERS names for each.
All owners: @kmuseth, @apradhana, @jmlait, @idclip, @danrbailey, @richhones, @NVIDIA-Omniverse/fvdb-dev

Minor changes to GridBatchImpl in preparation for Unified Memory support (#341)
  fvdb/src/detail/GridBatchImpl.cu
  fvdb/src/detail/GridBatchImpl.h
Owners: @NVIDIA-Omniverse/fvdb-dev

unfuck git (#312)
  fvdb/src/CMakeLists.txt
  fvdb/src/GaussianSplatting.cpp
  fvdb/src/GaussianSplatting.h
  fvdb/src/detail/autograd/Autograd.h
  fvdb/src/detail/autograd/EvaluateSphericalHarmonics.cpp
  fvdb/src/detail/autograd/EvaluateSphericalHarmonics.h
  fvdb/src/detail/autograd/GaussianRender.cpp
  fvdb/src/detail/autograd/GaussianRender.h
  fvdb/src/detail/ops/Ops.h
  fvdb/src/detail/ops/gsplat/GaussianSphericalHarmonicsBackward.cu
  fvdb/src/detail/ops/gsplat/GaussianSphericalHarmonicsForward.cu
  fvdb/src/detail/ops/gsplat/SphericalHarmonics.cu
  fvdb/src/tests/CMakeLists.txt
  fvdb/src/tests/GaussianSphericalHarmonicsBackwardTest.cpp
  fvdb/src/tests/GaussianSphericalHarmonicsForwardTest.cpp
Owners: @NVIDIA-Omniverse/fvdb-dev

Update FVDB accessors
  fvdb/src/detail/utils/nanovdb/CustomAccessors.h
Owners: @NVIDIA-Omniverse/fvdb-dev

More updates
  fvdb/src/detail/utils/nanovdb/CustomAccessors.h
Owners: @NVIDIA-Omniverse/fvdb-dev

Move away from deprecated 20.04 runners
  .github/workflows/ax.yml
  .github/workflows/build.yml
  .github/workflows/houdini.yml
  .github/workflows/nanovdb.yml
  .github/workflows/weekly.yml
Owners: @kmuseth, @apradhana, @jmlait, @idclip, @danrbailey, @richhones

Fix missing OpenVDB dependency for NanoVDB-only build
  nanovdb/nanovdb/examples/CMakeLists.txt
Owners: @kmuseth

improved change notes and updated version number
  nanovdb/nanovdb/io/IO.h
  openvdb_cmd/vdb_tool/include/Tool.h
  pendingchanges/vdb_tool.txt
Owners: @kmuseth, @apradhana, @jmlait, @idclip, @danrbailey, @richhones

Separate PointsToGrid kernel lambdas into functors
  nanovdb/nanovdb/tools/cuda/PointsToGrid.cuh
  nanovdb/nanovdb/util/cuda/Util.h
Owners: @kmuseth

Add missing iomanip include for latest GTest
  nanovdb/nanovdb/unittest/TestNanoVDB.cc
Owners: @kmuseth

improved nanovdb_convert
  nanovdb/nanovdb/cmd/convert/nanovdb_convert.cc
  nanovdb/nanovdb/tools/CreateNanoGrid.h
  nanovdb/nanovdb/unittest/TestOpenVDB.cc
  pendingchanges/nanovdb.txt
Owners: @kmuseth, @apradhana, @jmlait, @idclip, @danrbailey, @richhones

Fix format strings and Windows conversion warning
  nanovdb/nanovdb/tools/CreatePrimitives.h
  nanovdb/nanovdb/tools/cuda/PointsToGrid.cuh
  nanovdb/nanovdb/util/cuda/Util.h
Owners: @kmuseth

Fix ODR violation due to anonymous namespace in SignedFloodFill
  nanovdb/nanovdb/tools/cuda/SignedFloodFill.cuh
Owners: @kmuseth

Minor fix to unit-test of NanoVDB
  nanovdb/nanovdb/tools/cuda/SignedFloodFill.cuh
  nanovdb/nanovdb/unittest/TestNanoVDB.cu
  nanovdb/nanovdb/util/cuda/Util.h
Owners: @kmuseth

Add DeviceMesh and (optional) NCCL CMake Support
  cmake/FindNCCL.cmake
  nanovdb/nanovdb/CMakeLists.txt
  nanovdb/nanovdb/cuda/DeviceGuard.h
  nanovdb/nanovdb/cuda/DeviceMesh.h
  nanovdb/nanovdb/unittest/TestNanoVDB.cu
Owners: @kmuseth, @apradhana, @jmlait, @idclip, @danrbailey, @richhones

Switch to DeviceMesh for MGPU sparse convolution example
  nanovdb/nanovdb/examples/ex_make_mgpu_nanovdb/main.cu
Owners: @kmuseth

Add missing const variant of deviceData(device)
  nanovdb/nanovdb/GridHandle.h
Owners: @kmuseth

Add missing inline for DeviceMesh functions
  nanovdb/nanovdb/cuda/DeviceMesh.h
Owners: @kmuseth

Add missing NCCL ifdef
  nanovdb/nanovdb/cuda/DeviceMesh.h
Owners: @kmuseth

Fix invalid free in UnifiedBuffer move constructor
  nanovdb/nanovdb/cuda/UnifiedBuffer.h
  nanovdb/nanovdb/unittest/TestNanoVDB.cu
Owners: @kmuseth

Change UnifiedBuffer prefetch and advise to be const
  nanovdb/nanovdb/cuda/UnifiedBuffer.h
Owners: @kmuseth

Fix missing relocatable device code flag
  nanovdb/nanovdb/unittest/CMakeLists.txt
  nanovdb/nanovdb/unittest/TestNanoVDB.cu
Owners: @kmuseth

Fix namespace for AbsDiff and RelDiff ostream overloads
  nanovdb/nanovdb/tools/CreateNanoGrid.h
Owners: @kmuseth

Fix out-of-bounds device id
  nanovdb/nanovdb/unittest/TestNanoVDB.cu
Owners: @kmuseth

Fix TBB template deduction in C++20
  nanovdb/nanovdb/tools/CreateNanoGrid.h
Owners: @kmuseth

Fixed issue in signedfloodfill
  nanovdb/nanovdb/NanoVDB.h
  nanovdb/nanovdb/cuda/UnifiedBuffer.h
  nanovdb/nanovdb/tools/cuda/SignedFloodFill.cuh
  nanovdb/nanovdb/unittest/TestNanoVDB.cc
  nanovdb/nanovdb/unittest/TestNanoVDB.cu
Owners: @kmuseth

Fix DeviceMesh.h header to be self-contained
  nanovdb/nanovdb/cuda/DeviceMesh.h
Owners: @kmuseth

Add missing constructor for C++20 used in AddBlindData.cuh
  nanovdb/nanovdb/NanoVDB.h
Owners: @kmuseth

removed dead code and updated the minor version number
  nanovdb/nanovdb/NanoVDB.h
  nanovdb/nanovdb/PNanoVDB.h
Owners: @kmuseth

Fix class-memaccess warning due to non-trivial copy-assignment in GridBlindMetaData
  nanovdb/nanovdb/tools/CreateNanoGrid.h
Owners: @kmuseth

major improvements to GridBlindMetaData
  nanovdb/nanovdb/NanoVDB.h
  nanovdb/nanovdb/tools/CreateNanoGrid.h
  nanovdb/nanovdb/unittest/TestNanoVDB.cc
Owners: @kmuseth

minor simplification in CreateNanoGrid
  nanovdb/nanovdb/tools/CreateNanoGrid.h
Owners: @kmuseth

introducing new magic numbers for grids and files
  nanovdb/nanovdb/NanoVDB.h
  nanovdb/nanovdb/NodeManager.h
  nanovdb/nanovdb/cuda/NodeManager.cuh
  nanovdb/nanovdb/unittest/TestNanoVDB.cc
  nanovdb/nanovdb/unittest/TestOpenVDB.cc
Owners: @kmuseth

fixed typos and improved documentation in NanoVDB
  nanovdb/nanovdb/CNanoVDB.h
  nanovdb/nanovdb/GridHandle.h
  nanovdb/nanovdb/HostBuffer.h
  nanovdb/nanovdb/NanoVDB.h
  nanovdb/nanovdb/cuda/DeviceBuffer.h
  nanovdb/nanovdb/cuda/DeviceGuard.h
  nanovdb/nanovdb/cuda/DeviceMesh.h
  nanovdb/nanovdb/cuda/DeviceStreamMap.h
  nanovdb/nanovdb/cuda/UnifiedBuffer.h
  nanovdb/nanovdb/tools/CreateNanoGrid.h
  nanovdb/nanovdb/tools/CreatePrimitives.h
  nanovdb/nanovdb/tools/cuda/GridChecksum.cuh
  nanovdb/nanovdb/tools/cuda/GridStats.cuh
  nanovdb/nanovdb/tools/cuda/PointsToGrid.cuh
  nanovdb/nanovdb/tools/cuda/SignedFloodFill.cuh
  nanovdb/nanovdb/util/cuda/Timer.h
Owners: @kmuseth

Consolidate DeviceGuard into DeviceMesh header
  nanovdb/nanovdb/CMakeLists.txt
  nanovdb/nanovdb/cuda/DeviceGuard.h
  nanovdb/nanovdb/cuda/DeviceMesh.h
Owners: @kmuseth

Add distributed implementation of PointsToGrid
  cmake/CPM.cmake
  nanovdb/nanovdb/CMakeLists.txt
  nanovdb/nanovdb/cuda/DeviceMesh.h
  nanovdb/nanovdb/cuda/TempDevicePool.h
  nanovdb/nanovdb/examples/CMakeLists.txt
  nanovdb/nanovdb/examples/ex_index_grid_cuda/index_grid_cuda_kernel.cu
  nanovdb/nanovdb/examples/ex_voxels_to_grid_cuda/ex_voxels_to_grid_cuda.cu
  nanovdb/nanovdb/examples/ex_voxels_to_grid_mgpu/ex_voxels_to_grid_mgpu.cu
  nanovdb/nanovdb/tools/cuda/DistributedPointsToGrid.cuh
  nanovdb/nanovdb/tools/cuda/PointsToGrid.cuh
  nanovdb/nanovdb/unittest/TestNanoVDB.cu
Owners: @kmuseth, @apradhana, @jmlait, @idclip, @danrbailey, @richhones

revert deprecation warning
  nanovdb/nanovdb/CNanoVDB.h
Owners: @kmuseth

minor cleanup
  nanovdb/nanovdb/NanoVDB.h
  nanovdb/nanovdb/unittest/TestNanoVDB.cc
Owners: @kmuseth

Silence CMake warning about FindBoost module deprecation
  openvdb/openvdb/CMakeLists.txt
Owners: @kmuseth

Adding /bigobj to TestNanoVDB.cu compilation options to fix Windows build failures
  nanovdb/nanovdb/unittest/CMakeLists.txt
Owners: @kmuseth

Suppress stringop-overflow warning due to GCC 11 regression
  nanovdb/nanovdb/NanoVDB.h
Owners: @kmuseth

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Admin/General
/.github/                                                   @kmuseth @apradhana @jmlait @idclip @danrbailey @richhones
/ci/                                                        @kmuseth @apradhana @jmlait @idclip @danrbailey @richhones
/cmake/                                                     @kmuseth @apradhana @jmlait @idclip @danrbailey @richhones
/doc/                                                       @kmuseth @apradhana @jmlait @idclip @danrbailey @richhones
/pendingchanges/                                            @kmuseth @apradhana @jmlait @idclip @danrbailey @richhones
/tsc/                                                       @kmuseth @apradhana @jmlait @idclip @danrbailey @richhones
CODEOWNERS                                                  @kmuseth @apradhana @jmlait @idclip @danrbailey @richhones
LICENSE                                                     @kmuseth @apradhana @jmlait @idclip @danrbailey @richhones
CHANGES                                                     @kmuseth @apradhana @jmlait @idclip @danrbailey @richhones
*.md                                                        @kmuseth @apradhana @jmlait @idclip @danrbailey @richhones

# Core OpenVDB Library
/openvdb/                                                   @kmuseth
/openvdb/openvdb/points/                                    @danrbailey @idclip

# OpenVDB AX
/openvdb_ax/                                                @idclip @richhones

# NanoVDB
/nanovdb/                                                   @kmuseth

# OpenVDB Houdini - Default
/openvdb_houdini/                                           @kmuseth

# OpenVDB Houdini - VDB Primitive and SideFX Utils
/openvdb_houdini/openvdb_houdini/GEO_PrimVDB.*              @jmlait
/openvdb_houdini/openvdb_houdini/GU_PrimVDB.*               @jmlait
/openvdb_houdini/openvdb_houdini/GEO_VDBTranslator.*        @jmlait
/openvdb_houdini/openvdb_houdini/GT_GEOPrimCollectVDB.*     @jmlait
/openvdb_houdini/openvdb_houdini/SOP_VDBVerbUtils.*         @jmlait
/openvdb_houdini/openvdb_houdini/UT_VDBUtils.*              @jmlait

# OpenVDB Houdini - VDB Points
/openvdb_houdini/openvdb_houdini/PointUtils.*               @danrbailey @idclip
/openvdb_houdini/openvdb_houdini/*_OpenVDB_Points_*         @danrbailey @idclip
/openvdb_houdini/openvdb_houdini/GR_PrimVDBPoints.*         @danrbailey @idclip

# fVDB
/fvdb/                                                      @NVIDIA-Omniverse/fvdb-dev
