Repository AcademySoftwareFoundation/openvdb, changes with the owners that CODEOWNERS names for each.
All owners: @kmuseth, @pcucka, @jmlait, @idclip, @danrbailey

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Admin
/openvdb/tsc/charter.md                             @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/tsc/process/                               @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/CODEOWNERS                                 @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/CONTRIBUTING.md                            @kmuseth @pcucka @jmlait @idclip @danrbailey

# Core OpenVDB Library
/openvdb/cmd/                                       @kmuseth @pcucka
/openvdb/io/                                        @kmuseth @pcucka
/openvdb/math/                                      @kmuseth @pcucka
/openvdb/points/                                    @danrbailey @idclip
/openvdb/python/                                    @kmuseth @pcucka
/openvdb/tools/                                     @kmuseth @pcucka
/openvdb/tree/                                      @kmuseth @pcucka
/openvdb/util/                                      @kmuseth @pcucka
/openvdb/*.cc                                       @kmuseth @pcucka
/openvdb/*.h                                        @kmuseth @pcucka

# OpenVDB Houdini - Default
/openvdb_houdini/**                                 @kmuseth @pcucka

# OpenVDB Houdini - VDB Primitive and SideFX Utils
/openvdb_houdini/GEO_PrimVDB.*                      @jmlait
/openvdb_houdini/GU_PrimVDB.*                       @jmlait
/openvdb_houdini/GEO_VDBTranslator.*                @jmlait
/openvdb_houdini/GT_GEOPrimCollectVDB.*             @jmlait
/openvdb_houdini/SOP_VDBVerbUtils.*                 @jmlait
/openvdb_houdini/UT_VDBUtils.*                      @jmlait

# OpenVDB Houdini - VDB Points
/openvdb_houdini/PointUtils.*                       @danrbailey @idclip
/openvdb_houdini/*_OpenVDB_Points_*                 @danrbailey @idclip
/openvdb_houdini/GR_PrimVDBPoints.*                 @danrbailey @idclip

Attempt to trigger CLA again.
  tsc/meetings/2019-10-10.md
Owners: none

Update release notes
  CHANGES
  doc/changes.txt
Owners: none

Fix a minor unsigned vs signed warning
  openvdb/tree/RootNode.h
Owners: @kmuseth, @pcucka

Adapt NodeManager to only cache up to Internal Node 2 level for activeVoxelCount()
  openvdb/tools/Count.h
Owners: @kmuseth, @pcucka

Throw an exception if the transform pointer is null
  openvdb/Grid.h
Owners: @kmuseth, @pcucka

Fix a minor unsigned vs signed warning
  openvdb/tree/RootNode.h
Owners: @kmuseth, @pcucka

Add more throw comments to copy methods
  openvdb/Grid.h
Owners: @kmuseth, @pcucka

Add more throw comments to copy methods
  openvdb/Grid.h
Owners: @kmuseth, @pcucka

Include cctype.h which is required for isdigit.
  openvdb_houdini/SOP_OpenVDB_Read.cc
Owners: @kmuseth, @pcucka

Empty whitespace commit to trigger build process.
  openvdb/Platform.h
Owners: @kmuseth, @pcucka

Fix CMake Jemalloc bug where lists incorrectly interpreted as strings not lists
  cmake/FindJemalloc.cmake
Owners: none

Update change notes
  CHANGES
  doc/changes.txt
Owners: none

TSC meeting notes 2019-10-31
  tsc/meetings/2019-10-31.md
Owners: none

Fixed a bug during group conversion with non point cloud inputs (inputs with non-contiguous offsets)
  openvdb_houdini/PointUtils.cc
Owners: @danrbailey, @idclip

Minor assert fix
  openvdb_houdini/PointUtils.cc
Owners: @danrbailey, @idclip

tests: make the BLOSC_HCR_BLOCKSIZE_OPTIMIZATION define more robust
  openvdb/unittest/TestStreamCompression.cc
Owners: none

tests: update file offsets for blosc 1.15 in TestStreamCompression.cc
  openvdb/unittest/TestStreamCompression.cc
Owners: none

Rename the Translate parameter and update the help to reflect that it is stuck in index space.
  openvdb_houdini/SOP_OpenVDB_Resample.cc
Owners: @kmuseth, @pcucka

Add explicit PlatformConfig.h header in vdb_render to fix OpenEXR issue
  CHANGES
  doc/changes.txt
  openvdb/cmd/openvdb_render.cc
Owners: @kmuseth, @pcucka

Windows 64-bit recommendation for VCPKG
  README.md
  doc/build.txt
Owners: none

Suppress infs due to subnormal point densities.
  openvdb_houdini/SOP_OpenVDB_Rasterize_Points.cc
Owners: @kmuseth, @pcucka

Updated release notes.
  CHANGES
  doc/changes.txt
Owners: none

Allow magic statics as they have been supported as of Visual Studio 2015
  openvdb/math/Math.h
  openvdb/tools/LevelSetAdvect.h
  openvdb/tools/Morphology.h
  openvdb/util/NodeMasks.h
Owners: @kmuseth, @pcucka

Remove uses of boost::scoped_array in favor of std::unique_ptr<[]>
  openvdb/points/IndexFilter.h
  openvdb/tools/VolumeToMesh.h
  openvdb/tools/VolumeToSpheres.h
Owners: @danrbailey, @idclip, @kmuseth, @pcucka

Update release notes
  CHANGES
  doc/changes.txt
Owners: none

Remove some redundant Platform.h logic and add some MSVC definitions
  CMakeLists.txt
  openvdb/Platform.h
  openvdb/Types.h
  openvdb/version.h
Owners: @kmuseth, @pcucka

Fix unused variable warning
  openvdb/python/pyGrid.h
Owners: @kmuseth, @pcucka

Update release notes
  CHANGES
  doc/changes.txt
Owners: none

Update changes notes with API changes
  CHANGES
  doc/changes.txt
Owners: none

Performance improvement, using x86 instructions instead of software emulation
  openvdb/util/NodeMasks.h
  openvdb/util/NodeMasksGccClang.h
  openvdb/util/NodeMasksMSVC.h
Owners: @kmuseth, @pcucka

Add SIMD option to CMake, defaults to off.
  CMakeLists.txt
Owners: none

Add an SSE build to Azure and GitHub Actions
  .github/workflows/build.yml
  azure-pipelines.yml
  ci/build.sh
Owners: none

Address feedback
  CMakeLists.txt
Owners: none

TSC Meeting November 14th 2019
  tsc/meetings/2019-11-14.md
Owners: none

Address feedback, change method names
  openvdb/Grid.h
  openvdb/unittest/TestGrid.cc
Owners: @kmuseth, @pcucka

Fix merge
  openvdb/Grid.h
Owners: @kmuseth, @pcucka

Remove trailing spaces.
  tsc/meetings/2019-11-14.md
Owners: none

Introduce syncNodeVersion implementation for Scatter SOP
  openvdb_houdini/SOP_OpenVDB_Scatter.cc
Owners: @kmuseth, @pcucka

Update changes
  CHANGES
  doc/changes.txt
Owners: none

Simplify license text.
  LICENSE
  README.md
Owners: none
