Repository AcademySoftwareFoundation/openvdb, changes with the owners that CODEOWNERS names for each.
All owners: @kmuseth, @pcucka, @jmlait, @idclip, @danrbailey

Update ASWF Pipelines and use ASWF docker images
  azure-pipelines.yml
Owners: none

Downgrade Circle CI to Hello World
  .circleci/config.yml
Owners: none

Added tools::FindActiveValues
  CHANGES
  doc/changes.txt
  openvdb/tools/FindActiveValues.h
  openvdb/unittest/CMakeLists.txt
  openvdb/unittest/TestFindActiveValues.cc
Owners: @kmuseth, @pcucka

typo
  openvdb/tools/FindActiveValues.h
Owners: @kmuseth, @pcucka

fixed doxygen warnings
  CHANGES
  doc/changes.txt
  openvdb/util/Formats.h
Owners: @kmuseth, @pcucka

typo
  doc/changes.txt
Owners: none

fixed type conversion warning
  openvdb/unittest/TestFindActiveValues.cc
Owners: none

added test of FindActiveValues::init
  openvdb/tools/FindActiveValues.h
  openvdb/unittest/TestFindActiveValues.cc
Owners: @kmuseth, @pcucka

minor changes to API
  openvdb/tools/FindActiveValues.h
  openvdb/unittest/TestFindActiveValues.cc
Owners: @kmuseth, @pcucka

multi-threaded internal count method
  openvdb/tools/FindActiveValues.h
  openvdb/unittest/TestFindActiveValues.cc
Owners: @kmuseth, @pcucka

Added FindActiveValues
  CHANGES
  doc/changes.txt
  openvdb/tools/FindActiveValues.h
  openvdb/unittest/CMakeLists.txt
  openvdb/unittest/TestFindActiveValues.cc
Owners: @kmuseth, @pcucka

cleanup and review comments
  openvdb/tools/FindActiveValues.h
  openvdb/unittest/TestFindActiveValues.cc
Owners: @kmuseth, @pcucka

Minor CMake, Makefile, release notes and typo edits
  CHANGES
  doc/changes.txt
  openvdb/CMakeLists.txt
  openvdb/Makefile
  openvdb/tools/FindActiveValues.h
  openvdb/unittest/TestFindActiveValues.cc
Owners: @kmuseth, @pcucka

Add a conditional trigger to Houdini jobs to only run when HOUPASS variable is defined
  azure-pipelines.yml
Owners: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Owners: none

Added MPL-2.0 text and clarified license descriptions
  LICENSE
  README.md
  doc/faq.txt
Owners: none

Fix trailing space in MPL-2.0 text
  LICENSE
Owners: none

Add TSC Meeting Nodes for July 11th
  tsc/meetings/2019-07-11.md
Owners: none

Add missing discussion regarding CLAs
  tsc/meetings/2019-07-11.md
Owners: none

Revert storing of invisible name and instead expose accessor for non-const OP_OperatorTable
  openvdb_houdini/ParmFactory.cc
  openvdb_houdini/ParmFactory.h
  openvdb_houdini/SOP_NodeVDB.cc
Owners: @kmuseth, @pcucka

Fixed whitespace issues
  CODE_OF_CONDUCT.md
Owners: none

Replace the PROPRIETARY notices with copyright notices to make the intention clear. This should make it clear that the wrapped Dreamworks license applies to the content.
  openvdb_houdini/GEO_PrimVDB.cc
  openvdb_houdini/GEO_PrimVDB.h
  openvdb_houdini/GT_GEOPrimCollectVDB.cc
  openvdb_houdini/GT_GEOPrimCollectVDB.h
  openvdb_houdini/GU_PrimVDB.cc
  openvdb_houdini/GU_PrimVDB.h
  openvdb_houdini/UT_VDBUtils.cc
  openvdb_houdini/UT_VDBUtils.h
Owners: @jmlait

Remove the double license as the umbrella statement provides non-endorsement and disclaimer to all contributors, and the license of the contributed code is meant to be MPL-2.0.
  openvdb_houdini/GEO_VDBTranslator.cc
  openvdb_houdini/SOP_VDBVerbUtils.h
Owners: @jmlait

Address feedback
  tsc/meetings/2019-07-11.md
Owners: none

Address feedback
  openvdb_houdini/SOP_NodeVDB.cc
  openvdb_houdini/SOP_NodeVDB.h
Owners: @kmuseth, @pcucka

Address feedback
  openvdb/io/File.cc
Owners: @kmuseth, @pcucka

Address feedback
  openvdb_houdini/SOP_NodeVDB.cc
Owners: @kmuseth, @pcucka

Address feedback
  openvdb_houdini/SOP_NodeVDB.cc
Owners: @kmuseth, @pcucka

Fix handling of incompressible data
  openvdb/io/Compression.cc
Owners: @kmuseth, @pcucka

Disable Blosc tests when Blosc is disabled
  openvdb/unittest/TestFile.cc
Owners: none

TSC Notes for 25th.
  tsc/meetings/2019-07-25.md
Owners: none

Remove trailing spaces.
  tsc/meetings/2019-07-25.md
Owners: none

Address feedback
  tsc/meetings/2019-07-11.md
Owners: none

Bump library version to current version for merging
  openvdb/io/Archive.cc
Owners: @kmuseth, @pcucka

Update change log
  CHANGES
  doc/changes.txt
Owners: none

Update delayed loading unit test to match updated version
  openvdb/unittest/TestFile.cc
Owners: none

Suppress log messages re DelayedLoadMetadata.
  openvdb/unittest/TestFile.cc
Owners: none

Updated README.md
  README.md
Owners: none

OVDB-101: Extended sharpening support to non-level-set volumes.
  openvdb/math/Stencils.h
  openvdb/tools/Filter.h
  openvdb/tools/LevelSetFilter.h
  openvdb_houdini/SOP_OpenVDB_Filter.cc
Owners: @kmuseth, @pcucka

Minor formatting improvement to unit test elapsed time
  openvdb/unittest/main.cc
Owners: none

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Admin
/openvdb/tsc/charter.md                             @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/tsc/process/                               @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/CODEOWNERS                                 @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/CONTRIBUTING.md                            @kmuseth @pcucka @jmlait @idclip @danrbailey

# Core OpenVDB Library
/openvdb/cmd/                                       @kmuseth @pcucka
/openvdb/io/                                        @kmuseth @pcucka
/openvdb/math/                                      @kmuseth @pcucka
/openvdb/points/                                    @danrbailey @idclip
/openvdb/python/                                    @kmuseth @pcucka
/openvdb/tools/                                     @kmuseth @pcucka
/openvdb/tree/                                      @kmuseth @pcucka
/openvdb/util/                                      @kmuseth @pcucka
/openvdb/*.cc                                       @kmuseth @pcucka
/openvdb/*.h                                        @kmuseth @pcucka

# OpenVDB Houdini - Default
/openvdb_houdini/**                                 @kmuseth @pcucka

# OpenVDB Houdini - VDB Primitive and SideFX Utils
/openvdb_houdini/GEO_PrimVDB.*                      @jmlait
/openvdb_houdini/GU_PrimVDB.*                       @jmlait
/openvdb_houdini/GEO_VDBTranslator.*                @jmlait
/openvdb_houdini/GT_GEOPrimCollectVDB.*             @jmlait
/openvdb_houdini/SOP_VDBVerbUtils.*                 @jmlait
/openvdb_houdini/UT_VDBUtils.*                      @jmlait

# OpenVDB Houdini - VDB Points
/openvdb_houdini/PointUtils.*                       @danrbailey @idclip
/openvdb_houdini/*_OpenVDB_Points_*                 @danrbailey @idclip
/openvdb_houdini/GR_PrimVDBPoints.*                 @danrbailey @idclip
