Repository AcademySoftwareFoundation/openvdb, changes with the owners that CODEOWNERS names for each.
All owners: @kmuseth, @pcucka, @jmlait, @idclip, @danrbailey

Suppress to-Python converter registration warnings.
  openvdb/python/pyGrid.h
Owners: @kmuseth, @pcucka

Added Doxygen groups to Grid documentation.
  openvdb/Grid.h
Owners: @kmuseth, @pcucka

Fixed most-vexing-parse error.
  openvdb/python/pyGrid.h
Owners: @kmuseth, @pcucka

openvdb/unittest: blosc 1.15 compatibility
  openvdb/unittest/TestFile.cc
Owners: none

Add missing internal name for VDB Filter SOP and an alias for the incorrect internal name
  openvdb_houdini/SOP_OpenVDB_Filter.cc
Owners: @kmuseth, @pcucka

Add missing tbb includes to FindActiveValues
  openvdb/tools/FindActiveValues.h
Owners: @kmuseth, @pcucka

Add operator version to spare data and OP_OperatorDW::getVersion()
  openvdb_houdini/ParmFactory.cc
  openvdb_houdini/SOP_NodeVDB.cc
Owners: @kmuseth, @pcucka

Update changes
  CHANGES
  doc/changes.txt
Owners: none

Minor formatting changes and variable advanced marking to CMakeLists.txt
  CMakeLists.txt
Owners: none

Ensure ABI 4 is always set as the minimum ABI CMake Variable
  CMakeLists.txt
Owners: none

Added support for numpy for any CMake version we support and support for Boost >=1.65 when building the python plugin through CMake
  CMakeLists.txt
  cmake/backports/FindNumPy.cmake
  openvdb/python/CMakeLists.txt
Owners: @kmuseth, @pcucka

Updated change logs
  CHANGES
  doc/changes.txt
Owners: none

Added documentation help for various cmake/boost/python3 issues
  doc/build.txt
  doc/dependencies.txt
Owners: none

Improved Python3 and Boost.Python/Boost.NumPy support up to 1.70
  openvdb/python/CMakeLists.txt
Owners: @kmuseth, @pcucka

Minor update to change logs
  CHANGES
  doc/changes.txt
Owners: none

Configure OpenVDB for Houdini with _GLIBCXX_USE_CXX11_ABI=0
  cmake/OpenVDBHoudiniSetup.cmake
Owners: none

Grammar fixes in CMake messages and improved execute_process usage during GCC ABI detection
  cmake/OpenVDBHoudiniSetup.cmake
Owners: none

Removed manually specifying of system path, relying on CMake's default search instead
  CMakeLists.txt
  cmake/FindBlosc.cmake
  cmake/FindCppUnit.cmake
  cmake/FindIlmBase.cmake
  cmake/FindJemalloc.cmake
  cmake/FindLog4cplus.cmake
  cmake/FindOpenEXR.cmake
  cmake/FindOpenVDB.cmake
  cmake/FindTBB.cmake
  cmake/OpenVDBGLFW3Setup.cmake
  cmake/OpenVDBHoudiniSetup.cmake
  cmake/OpenVDBMayaSetup.cmake
Owners: none

Remove root variables provided to appveyor to test system path searches on Windows
  appveyor.yml
Owners: none

TSC meeting notes August 22nd
  tsc/meetings/2019-08-22.md
Owners: none

Add version gate to handle the new inViewFrustum API.
  openvdb_houdini/GR_PrimVDBPoints.cc
Owners: @danrbailey, @idclip

Fix spaces & tabs.
  openvdb_houdini/GR_PrimVDBPoints.cc
Owners: @danrbailey, @idclip

Minor fix during detection of CXX11 ABI
  cmake/OpenVDBHoudiniSetup.cmake
Owners: none

Also attempt to query the CXX11 ABI of Houdini through its target properties.
  cmake/OpenVDBHoudiniSetup.cmake
Owners: none

Fixed factual inaccuracies
  tsc/meetings/2019-08-22.md
Owners: none

Minor typo fix
  openvdb/python/CMakeLists.txt
Owners: @kmuseth, @pcucka

Do not try to make metadata out of non-tuples as we don't support them and this will crash.
  openvdb_houdini/GU_PrimVDB.cc
Owners: @jmlait

It appears that MSVC does not like one instantiating a base method that was marked deprecated, even if the newly instantiated method is also marked deprecated.
  openvdb/points/AttributeArray.h
Owners: @danrbailey, @idclip

It appears that MSVC does not like one instantiating a base method that was marked deprecated, even if the newly instantiated method is also marked deprecated.
  openvdb/points/AttributeArray.h
Owners: @danrbailey, @idclip

Strings are not tuples, so slightly more care is required.
  openvdb_houdini/GU_PrimVDB.cc
Owners: @jmlait

TSC Meeting notes August 29th, 2019
  tsc/meetings/2019-08-29.md
Owners: none

Wrap the disabling of OPENVDB_DEPRECATE inside a _MSC_VER so other platforms that handle deprecations sanely can still get the warnings.
  openvdb/points/AttributeArray.h
Owners: @danrbailey, @idclip

Fix the date of the meeting.
  tsc/meetings/2019-08-29.md
Owners: none

Correct the Utils vs Tree direction for moving NodeMask.
  tsc/meetings/2019-08-29.md
Owners: none

Clarify what is broken for empty grid bounding volume computation.
  tsc/meetings/2019-08-29.md
Owners: none

Added base class access specifiers to IsSpecializationOf.
  openvdb/Types.h
Owners: @kmuseth, @pcucka

Minor correction to README
  README.md
Owners: none

Fixed a bug that could cause an empty CoordBBox to report nonzero volume.
  CHANGES
  doc/changes.txt
  openvdb/math/Coord.h
Owners: @kmuseth, @pcucka

Added CoordBBox::dim() unit tests for empty bboxes.
  openvdb/unittest/TestCoord.cc
Owners: none

Explicitly zero-initialize Coord returned by dim() for empty CoordBBox.
  openvdb/math/Coord.h
Owners: @kmuseth, @pcucka

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Admin
/openvdb/tsc/charter.md                             @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/tsc/process/                               @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/CODEOWNERS                                 @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/CONTRIBUTING.md                            @kmuseth @pcucka @jmlait @idclip @danrbailey

# Core OpenVDB Library
/openvdb/cmd/                                       @kmuseth @pcucka
/openvdb/io/                                        @kmuseth @pcucka
/openvdb/math/                                      @kmuseth @pcucka
/openvdb/points/                                    @danrbailey @idclip
/openvdb/python/                                    @kmuseth @pcucka
/openvdb/tools/                                     @kmuseth @pcucka
/openvdb/tree/                                      @kmuseth @pcucka
/openvdb/util/                                      @kmuseth @pcucka
/openvdb/*.cc                                       @kmuseth @pcucka
/openvdb/*.h                                        @kmuseth @pcucka

# OpenVDB Houdini - Default
/openvdb_houdini/**                                 @kmuseth @pcucka

# OpenVDB Houdini - VDB Primitive and SideFX Utils
/openvdb_houdini/GEO_PrimVDB.*                      @jmlait
/openvdb_houdini/GU_PrimVDB.*                       @jmlait
/openvdb_houdini/GEO_VDBTranslator.*                @jmlait
/openvdb_houdini/GT_GEOPrimCollectVDB.*             @jmlait
/openvdb_houdini/SOP_VDBVerbUtils.*                 @jmlait
/openvdb_houdini/UT_VDBUtils.*                      @jmlait

# OpenVDB Houdini - VDB Points
/openvdb_houdini/PointUtils.*                       @danrbailey @idclip
/openvdb_houdini/*_OpenVDB_Points_*                 @danrbailey @idclip
/openvdb_houdini/GR_PrimVDBPoints.*                 @danrbailey @idclip
