Repository AcademySoftwareFoundation/openvdb, changes with the owners that CODEOWNERS names for each.
All owners: @kmuseth, @pcucka, @jmlait, @idclip, @danrbailey

Simplify license text
  LICENSE
  README.md
Owners: none

Add new RootNode::addChild and InternalNode::addChild methods
  openvdb/tree/InternalNode.h
  openvdb/tree/RootNode.h
  openvdb/unittest/TestTree.cc
Owners: @kmuseth, @pcucka

Update changes
  CHANGES
  doc/changes.txt
Owners: none

Fix memory leaks in static variable pointers.
  openvdb/Grid.cc
  openvdb/Metadata.cc
  openvdb/math/Maps.cc
  openvdb/math/Maps.h
  openvdb/points/AttributeArray.h
  openvdb/tree/Tree.h
Owners: @kmuseth, @pcucka, @danrbailey, @idclip

Fix sign propagation bug.
  openvdb/tools/MeshToVolume.h
Owners: @kmuseth, @pcucka

Fix Houdini library paths on Windows
  cmake/OpenVDBHoudiniSetup.cmake
Owners: none

Allow magic statics as they have been supported as of Visual Studio 2015
  openvdb/math/Math.h
  openvdb/tools/LevelSetAdvect.h
  openvdb/tools/Morphology.h
  openvdb/util/NodeMasks.h
Owners: @kmuseth, @pcucka

Fix unused variable warning
  openvdb/python/pyGrid.h
Owners: @kmuseth, @pcucka

Remove some redundant Platform.h logic and add some MSVC definitions
  CMakeLists.txt
  openvdb/Platform.h
  openvdb/Types.h
  openvdb/version.h
Owners: @kmuseth, @pcucka

Ensure -DNOMINMAX is defined on Windows when building python bindings
  openvdb/python/CMakeLists.txt
Owners: @kmuseth, @pcucka

Forcibly set these to match our current upstream VDB values. A bad merge in the past had caused matchGroups to diverge.
  openvdb_houdini/CMakeLists.txt
  openvdb_houdini/GR_PrimVDBPoints.cc
  openvdb_houdini/GU_PrimVDB.h
  openvdb_houdini/ParmFactory.cc
  openvdb_houdini/PointUtils.cc
  openvdb_houdini/SOP_NodeVDB.cc
  openvdb_houdini/SOP_OpenVDB_Advect.cc
  openvdb_houdini/SOP_OpenVDB_Convert.cc
  openvdb_houdini/SOP_OpenVDB_Prune.cc
Owners: @kmuseth, @pcucka, @danrbailey, @idclip, @jmlait

Fixed meeting time
  tsc/meetings/2019-10-31.md
Owners: none

Update changes
  CHANGES
  doc/changes.txt
Owners: none

Address feedback
  openvdb_houdini/SOP_OpenVDB_Scatter.cc
Owners: @kmuseth, @pcucka

Duplicate the makeGridUnique as isGridUnique that allows testing if grids are shared before necessarily uniquing them.
  openvdb_houdini/GEO_PrimVDB.cc
  openvdb_houdini/GEO_PrimVDB.h
Owners: @jmlait

Spaces, not tabs.
  openvdb_houdini/GEO_PrimVDB.cc
Owners: @jmlait

Add true to the comment.
  openvdb_houdini/GEO_PrimVDB.h
Owners: @jmlait

Address feedback
  CMakeLists.txt
Owners: none

Update references to project license
  README.md
  doc/faq.txt
Owners: none

Update CLA process in FAQ
  doc/faq.txt
Owners: none

Complete re-write of LevelSetMeasure
  openvdb/math/Stencils.h
  openvdb/tools/LevelSetMeasure.h
  openvdb/unittest/TestMeanCurvature.cc
  openvdb/unittest/TestTools.cc
Owners: @kmuseth, @pcucka

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Admin
/openvdb/tsc/charter.md                             @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/tsc/process/                               @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/CODEOWNERS                                 @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/CONTRIBUTING.md                            @kmuseth @pcucka @jmlait @idclip @danrbailey

# Core OpenVDB Library
/openvdb/cmd/                                       @kmuseth @pcucka
/openvdb/io/                                        @kmuseth @pcucka
/openvdb/math/                                      @kmuseth @pcucka
/openvdb/points/                                    @danrbailey @idclip
/openvdb/python/                                    @kmuseth @pcucka
/openvdb/tools/                                     @kmuseth @pcucka
/openvdb/tree/                                      @kmuseth @pcucka
/openvdb/util/                                      @kmuseth @pcucka
/openvdb/*.cc                                       @kmuseth @pcucka
/openvdb/*.h                                        @kmuseth @pcucka

# OpenVDB Houdini - Default
/openvdb_houdini/**                                 @kmuseth @pcucka

# OpenVDB Houdini - VDB Primitive and SideFX Utils
/openvdb_houdini/GEO_PrimVDB.*                      @jmlait
/openvdb_houdini/GU_PrimVDB.*                       @jmlait
/openvdb_houdini/GEO_VDBTranslator.*                @jmlait
/openvdb_houdini/GT_GEOPrimCollectVDB.*             @jmlait
/openvdb_houdini/SOP_VDBVerbUtils.*                 @jmlait
/openvdb_houdini/UT_VDBUtils.*                      @jmlait

# OpenVDB Houdini - VDB Points
/openvdb_houdini/PointUtils.*                       @danrbailey @idclip
/openvdb_houdini/*_OpenVDB_Points_*                 @danrbailey @idclip
/openvdb_houdini/GR_PrimVDBPoints.*                 @danrbailey @idclip
