Repository AcademySoftwareFoundation/openvdb, changes with the owners that CODEOWNERS names for each.
All owners: @kmuseth, @pcucka, @jmlait, @idclip, @danrbailey

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Admin
/openvdb/tsc/charter.md                             @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/tsc/process/                               @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/CODEOWNERS                                 @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/CONTRIBUTING.md                            @kmuseth @pcucka @jmlait @idclip @danrbailey

# Core OpenVDB Library
/openvdb/cmd/                                       @kmuseth @pcucka
/openvdb/io/                                        @kmuseth @pcucka
/openvdb/math/                                      @kmuseth @pcucka
/openvdb/points/                                    @danrbailey @idclip
/openvdb/python/                                    @kmuseth @pcucka
/openvdb/tools/                                     @kmuseth @pcucka
/openvdb/tree/                                      @kmuseth @pcucka
/openvdb/util/                                      @kmuseth @pcucka
/openvdb/*.cc                                       @kmuseth @pcucka
/openvdb/*.h                                        @kmuseth @pcucka

# OpenVDB Houdini - Default
/openvdb_houdini/houdini/**                         @kmuseth @pcucka

# OpenVDB Houdini - VDB Primitive and SideFX Utils
/openvdb_houdini/houdini/GEO_PrimVDB.*              @jmlait
/openvdb_houdini/houdini/GU_PrimVDB.*               @jmlait
/openvdb_houdini/houdini/GEO_VDBTranslator.*        @jmlait
/openvdb_houdini/houdini/GT_GEOPrimCollectVDB.*     @jmlait
/openvdb_houdini/houdini/SOP_VDBVerbUtils.*         @jmlait
/openvdb_houdini/houdini/UT_VDBUtils.*              @jmlait

# OpenVDB Houdini - VDB Points
/openvdb_houdini/houdini/PointUtils.*               @danrbailey @idclip
/openvdb_houdini/houdini/*_OpenVDB_Points_*         @danrbailey @idclip
/openvdb_houdini/houdini/GR_PrimVDBPoints.*         @danrbailey @idclip

Improve interruptability of the MeshToVolume by adding interruptor checks. Gate this for every 1024^2 iterations as the interruptor still has a bit of overhead.
  openvdb/tools/MeshToVolume.h
Owners: @kmuseth, @pcucka

Improve interruptability of the MeshToVolume by adding interruptor checks. Gate this for every 1024^2 iterations as the interruptor still has a bit of overhead.
  openvdb/tools/MeshToVolume.h
Owners: @kmuseth, @pcucka

Add an error directive if using a deprecated version of the OpenVDB ABI
  openvdb/version.h
Owners: @kmuseth, @pcucka

Remove the option to disable verbification for all SOPs
  openvdb_houdini/houdini/SOP_OpenVDB_Advect.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Advect_Points.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Analysis.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Clip.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Combine.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Convert.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Densify.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Diagnostics.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Fill.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Filter.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Filter_Level_Set.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Fracture.cc
  openvdb_houdini/houdini/SOP_OpenVDB_From_Particles.cc
  openvdb_houdini/houdini/SOP_OpenVDB_From_Polygons.cc
  openvdb_houdini/houdini/SOP_OpenVDB_LOD.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Metadata.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Morph_Level_Set.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Noise.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Occlusion_Mask.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Points_Convert.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Points_Delete.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Points_Group.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Potential_Flow.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Prune.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Ray.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Rebuild_Level_Set.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Remap.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Remove_Divergence.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Resample.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Sample_Points.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Scatter.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Segment.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Sort_Points.cc
  openvdb_houdini/houdini/SOP_OpenVDB_To_Polygons.cc
  openvdb_houdini/houdini/SOP_OpenVDB_To_Spheres.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Topology_To_Level_Set.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Transform.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Vector_Merge.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Vector_Split.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Visualize.cc
Owners: @kmuseth, @pcucka, @danrbailey, @idclip

Removing some commented out code
  openvdb_houdini/houdini/GR_PrimVDBPoints.cc
  openvdb_houdini/houdini/SOP_NodeVDB.cc
Owners: @danrbailey, @idclip, @kmuseth, @pcucka

Remove code < 16.5 and guard on SESI_OPENVDB_PRIM instead of 12.5
  openvdb_houdini/houdini/GEO_PrimVDB.cc
  openvdb_houdini/houdini/GEO_PrimVDB.h
  openvdb_houdini/houdini/GU_PrimVDB.cc
  openvdb_houdini/houdini/GU_PrimVDB.h
  openvdb_houdini/houdini/UT_VDBUtils.h
Owners: @jmlait

Fixed MacOS/Clang Maya plugin initialization issues
  openvdb_maya/CMakeLists.txt
Owners: none

Drop H16.0 from Travis CI as this is no longer supported
  .travis.yml
Owners: none

Update release notes and requirements in INSTALL file.
  openvdb/CHANGES
  openvdb/INSTALL
  openvdb/doc/changes.txt
Owners: none

Add Makefile error for an unsupported Houdini version
  openvdb_houdini/Makefile
Owners: none

Maya documenation updates
  openvdb/doc/build.txt
  openvdb/doc/dependencies.txt
Owners: none

Added a message prompting for blosc usage if blosc is disabled
  openvdb/CMakeLists.txt
Owners: none

Address feedback
  openvdb_houdini/houdini/GEO_PrimVDB.cc
  openvdb_houdini/houdini/GEO_PrimVDB.h
  openvdb_houdini/houdini/GeometryUtil.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Visualize.cc
Owners: @jmlait, @kmuseth, @pcucka

Only append Threads::Threads dependency on Unix
  cmake/FindOpenVDB.cmake
  openvdb/CMakeLists.txt
Owners: none

Use cppunit/Portability.h to dictate CPPUNIT_VERSION instead of cppunit/config-auto.h
  cmake/FindCppUnit.cmake
Owners: none

Improve library suffix handling for CppUnit and add correct suffix for Windows
  cmake/FindCppUnit.cmake
Owners: none

Remove HALF_EXPORTS flag on Windows
  openvdb/CMakeLists.txt
  openvdb/cmd/CMakeLists.txt
  openvdb/unittest/CMakeLists.txt
Owners: @kmuseth, @pcucka

Add /bigobj as some obj files on Windows exceed the allowed limit
  CMakeLists.txt
Owners: none

Add IN_LIST Policy to Find Modules
  cmake/FindIlmBase.cmake
  cmake/FindOpenEXR.cmake
  cmake/FindOpenVDB.cmake
  cmake/FindTBB.cmake
Owners: none

Add Circle CI for building on Linux (No Mac yet)
  .circleci/config.yml
  ci/build.sh
  ci/build_houdini.sh
  ci/download_houdini.py
  ci/install.sh
  ci/install_blosc.sh
  ci/install_boost.sh
  ci/install_cmake.sh
  ci/install_houdini.sh
  ci/install_openexr.sh
  ci/install_tbb.sh
Owners: none

Add AppVeyor CI for building on Windows
  appveyor.yml
Owners: none

Add deprecated flags to ABI<=3 methods
  openvdb/Grid.h
  openvdb/Types.h
Owners: @kmuseth, @pcucka

Add missing vcpkg triplet env var
  appveyor.yml
Owners: none

Add deprecated Doxygen tags to deprecated functions
  openvdb/Grid.h
  openvdb/Types.h
Owners: @kmuseth, @pcucka

Remove ABI=3 Travis builds
  .travis.yml
Owners: none

TSC Meeting notes for April 18th, 2019.
  tsc/meetings/2019-04-18.md
Owners: none

Remove branching for Houdini < 16.5
  cmake/OpenVDBHoudiniSetup.cmake
Owners: none

Added static and shared library options for openvdb core
  CMakeLists.txt
  openvdb/CMakeLists.txt
  openvdb/cmd/CMakeLists.txt
  openvdb/python/CMakeLists.txt
  openvdb/unittest/CMakeLists.txt
  openvdb_houdini/CMakeLists.txt
  openvdb_maya/CMakeLists.txt
Owners: @kmuseth, @pcucka

Remove caching of sesi tags for the OpenVDB Houdini plugin in favour of disabling the tag comnpletely
  openvdb_houdini/CMakeLists.txt
Owners: none

Spelling fix
  openvdb_houdini/CMakeLists.txt
Owners: none

Add a unit test that exposes issue with using group filtering and a cached deformer in point advection
  openvdb/unittest/TestPointMove.cc
Owners: none

Remove unused variables
  openvdb/unittest/TestLevelSetUtil.cc
Owners: none

Suppress conversion warnings in core library for GCC 6.3+
  openvdb/Grid.h
  openvdb/math/Operators.h
  openvdb/math/Stencils.h
  openvdb/math/Vec3.h
  openvdb/tools/Filter.h
  openvdb/tools/GridTransformer.h
  openvdb/tools/Interpolation.h
  openvdb/tools/MultiResGrid.h
  openvdb/unittest/util.h
Owners: @kmuseth, @pcucka

Supress SOP conversion warnings for GCC 6.3+
  openvdb_houdini/houdini/SOP_OpenVDB_Combine.cc
  openvdb_houdini/houdini/SOP_OpenVDB_Prune.cc
Owners: @kmuseth, @pcucka

Disable non required vdb binaries and unit tests by default in cmake
  CMakeLists.txt
  openvdb/cmd/CMakeLists.txt
  openvdb/doc/build.txt
Owners: @kmuseth, @pcucka

Minor change for Houdini branching on OpenVDB ABI selection
  cmake/OpenVDBHoudiniSetup.cmake
Owners: none

Fix for OpenVDB Points strided attribute serialization
  openvdb/points/AttributeArray.cc
  openvdb/points/AttributeArray.h
  openvdb/unittest/TestAttributeArray.cc
Owners: @danrbailey, @idclip

Added additional minimum versions for OpenVDB dependencies and added a DISABLE_DEPENDENCY_VERSION_CHECKS option to suppress version checking.
  CMakeLists.txt
  cmake/OpenVDBGLFW3Setup.cmake
  openvdb/CMakeLists.txt
  openvdb/cmd/CMakeLists.txt
  openvdb/doc/dependencies.txt
  openvdb/python/CMakeLists.txt
Owners: @kmuseth, @pcucka

Set minimum openvdb ABI version to 4
  CMakeLists.txt
Owners: none

Add a USE_CCACHE option that can optionally disable the use of Ccache
  CMakeLists.txt
Owners: none
