Repository AcademySoftwareFoundation/openvdb, changes with the owners that CODEOWNERS names for each.
All owners: @kmuseth, @pcucka, @jmlait, @idclip, @danrbailey

Minor message update
  cmake/OpenVDBHoudiniSetup.cmake
Owners: none

Updated change logs
  CHANGES
  doc/changes.txt
Owners: none

Update OpenVDB deprecation strategy
  tsc/process/deprecation.md
Owners: none

Meeting notes
  tsc/meetings/2019-09-12.md
Owners: none

Address feedback
  tsc/process/deprecation.md
Owners: none

Update version format to store VDB and Houdini versions
  openvdb_houdini/SOP_NodeVDB.cc
Owners: @kmuseth, @pcucka

Add an update as a result of offline communication with John Mertic
  tsc/meetings/2019-09-12.md
Owners: none

Minor formatting edit
  tsc/meetings/2019-09-12.md
Owners: none

CMake deprecation warnings for VFX 18 versions
  CMakeLists.txt
  cmake/OpenVDBHoudiniSetup.cmake
  openvdb/CMakeLists.txt
  openvdb/python/CMakeLists.txt
Owners: @kmuseth, @pcucka

Address feedback
  tsc/meetings/2019-09-12.md
Owners: none

Fixed the MSVC version used for deprecation warnings
  CMakeLists.txt
Owners: none

OVDB-113: Updated release process.
  tsc/process/release.md
Owners: none

OVDB-113: Updated release notes.
  CHANGES
  doc/changes.txt
Owners: none

Updated changelogs
  CHANGES
  doc/changes.txt
Owners: none

Renamed new minimum version CMake variables to FUTURE_MINIMUM_*_VERSION
  CMakeLists.txt
  cmake/OpenVDBHoudiniSetup.cmake
  openvdb/CMakeLists.txt
  openvdb/python/CMakeLists.txt
Owners: @kmuseth, @pcucka

Improved changelog comments
  CHANGES
  doc/changes.txt
Owners: none

Starting OpenVDB 7.0.0 development
  CHANGES
  doc/changes.txt
  doc/doxygen-config
  openvdb/version.h
  tsc/process/release.md
Owners: @kmuseth, @pcucka

Added a CI test for ABI7/VFX2020
  azure-pipelines.yml
Owners: none

temporary container name fix for vfx2020
  azure-pipelines.yml
Owners: none

Fixed a bug during group conversion with non point cloud inputs (inputs with non-contiguous offsets)
  openvdb_houdini/PointUtils.cc
Owners: @danrbailey, @idclip

Minor assert fix
  openvdb_houdini/PointUtils.cc
Owners: @danrbailey, @idclip

Updated change logs
  CHANGES
  doc/changes.txt
Owners: none

Fix StreamMetadata segfault by reordering data members
  openvdb/io/Archive.cc
Owners: @kmuseth, @pcucka

Fixed an issue using shared libraries from Boost 1.70 CMake
  cmake/FindOpenVDB.cmake
  openvdb/CMakeLists.txt
Owners: none

Also add Boost 1.70 handling to openvdb/python/CMakeLists.txt
  openvdb/python/CMakeLists.txt
Owners: @kmuseth, @pcucka

Add warning comments to StreamState and StreamMetadata::Impl to ensure non-ABI changes
  openvdb/io/Archive.cc
Owners: @kmuseth, @pcucka

Update change notes
  CHANGES
  doc/changes.txt
Owners: none

CMake pkgconfig improvements to suppress duplicate calls if pkgconfig can't be found
  cmake/FindBlosc.cmake
  cmake/FindCppUnit.cmake
  cmake/FindIlmBase.cmake
  cmake/FindJemalloc.cmake
  cmake/FindLog4cplus.cmake
  cmake/FindOpenEXR.cmake
  cmake/FindOpenVDB.cmake
  cmake/FindTBB.cmake
  cmake/OpenVDBGLFW3Setup.cmake
Owners: none

CMake minimum version improvements
  CMakeLists.txt
  cmake/FindBlosc.cmake
  cmake/FindCppUnit.cmake
  cmake/FindIlmBase.cmake
  cmake/FindJemalloc.cmake
  cmake/FindLog4cplus.cmake
  cmake/FindOpenEXR.cmake
  cmake/FindOpenVDB.cmake
  cmake/FindTBB.cmake
  cmake/OpenVDBGLFW3Setup.cmake
  cmake/OpenVDBMayaSetup.cmake
  cmake/OpenVDBUtils.cmake
  cmake/Uninstall.cmake
  doc/CMakeLists.txt
  openvdb/CMakeLists.txt
  openvdb/cmd/CMakeLists.txt
  openvdb/python/CMakeLists.txt
  openvdb_houdini/CMakeLists.txt
  openvdb_maya/CMakeLists.txt
Owners: @kmuseth, @pcucka

Introduce CMake 3.12 compatible ROOT variables
  cmake/FindBlosc.cmake
  cmake/FindCppUnit.cmake
  cmake/FindIlmBase.cmake
  cmake/FindJemalloc.cmake
  cmake/FindLog4cplus.cmake
  cmake/FindOpenEXR.cmake
  cmake/FindOpenVDB.cmake
  cmake/FindTBB.cmake
  cmake/OpenVDBHoudiniSetup.cmake
  cmake/OpenVDBMayaSetup.cmake
Owners: none

Replaced CMake option USE_SYSTEM_LIBRARY_PATHS with DISABLE_CMAKE_SEARCH_PATHS. Added SYSTEM_LIBRARY_PATHS as a cached string of "global" paths to search for dependencies.
  CMakeLists.txt
  cmake/FindBlosc.cmake
  cmake/FindCppUnit.cmake
  cmake/FindIlmBase.cmake
  cmake/FindJemalloc.cmake
  cmake/FindLog4cplus.cmake
  cmake/FindOpenEXR.cmake
  cmake/FindOpenVDB.cmake
  cmake/FindTBB.cmake
  cmake/OpenVDBGLFW3Setup.cmake
  cmake/OpenVDBHoudiniSetup.cmake
  cmake/OpenVDBMayaSetup.cmake
Owners: none

Mark find(Houdini) as REQUIRED
  cmake/OpenVDBHoudiniSetup.cmake
Owners: none

Updated documentation
  doc/build.txt
Owners: none

updated change logs
  CHANGES
  doc/changes.txt
Owners: none

Fix StreamMetadata segfault by reordering data members
  openvdb/io/Archive.cc
Owners: @kmuseth, @pcucka

Add warning comments to StreamState and StreamMetadata::Impl to ensure non-ABI changes
  openvdb/io/Archive.cc
Owners: @kmuseth, @pcucka

Update change notes
  CHANGES
  doc/changes.txt
Owners: none

Update version and doxygen config
  doc/doxygen-config
  openvdb/version.h
Owners: @kmuseth, @pcucka

Added missing unit test TestClip
  CHANGES
  doc/changes.txt
  openvdb/unittest/CMakeLists.txt
Owners: none

Minutes from 28th OpenVDB TSC meeting, September 26th, 2019, (GMT)
  tsc/meetings/2019-09-26.md
Owners: none

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Admin
/openvdb/tsc/charter.md                             @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/tsc/process/                               @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/CODEOWNERS                                 @kmuseth @pcucka @jmlait @idclip @danrbailey
/openvdb/CONTRIBUTING.md                            @kmuseth @pcucka @jmlait @idclip @danrbailey

# Core OpenVDB Library
/openvdb/cmd/                                       @kmuseth @pcucka
/openvdb/io/                                        @kmuseth @pcucka
/openvdb/math/                                      @kmuseth @pcucka
/openvdb/points/                                    @danrbailey @idclip
/openvdb/python/                                    @kmuseth @pcucka
/openvdb/tools/                                     @kmuseth @pcucka
/openvdb/tree/                                      @kmuseth @pcucka
/openvdb/util/                                      @kmuseth @pcucka
/openvdb/*.cc                                       @kmuseth @pcucka
/openvdb/*.h                                        @kmuseth @pcucka

# OpenVDB Houdini - Default
/openvdb_houdini/**                                 @kmuseth @pcucka

# OpenVDB Houdini - VDB Primitive and SideFX Utils
/openvdb_houdini/GEO_PrimVDB.*                      @jmlait
/openvdb_houdini/GU_PrimVDB.*                       @jmlait
/openvdb_houdini/GEO_VDBTranslator.*                @jmlait
/openvdb_houdini/GT_GEOPrimCollectVDB.*             @jmlait
/openvdb_houdini/SOP_VDBVerbUtils.*                 @jmlait
/openvdb_houdini/UT_VDBUtils.*                      @jmlait

# OpenVDB Houdini - VDB Points
/openvdb_houdini/PointUtils.*                       @danrbailey @idclip
/openvdb_houdini/*_OpenVDB_Points_*                 @danrbailey @idclip
/openvdb_houdini/GR_PrimVDBPoints.*                 @danrbailey @idclip
